@import '../../variables.module.scss';

.statsApp {
  background: $dark;
  color: $grey;
  font-family: 'montserrat', sans-serif;
  position: relative;
  padding: 0 0 8rem 0;
  max-width: 2890px;
  margin: 0 auto;
}



.header {
  height: 447px;
  padding: 2rem;
  background: url('../../assets/images/headerBg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.nav {
  text-align: right;

  &BackLink {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    z-index: 10;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;



    >img {
      margin-right: 7px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: $dark;
      z-index: -1;
      top: 0;
      right: 0;
      transform: translate(45%, -60%);
      box-shadow: none;
      transition: box-shadow .3s;
    }

    &:hover::before {
      transition: box-shadow .3s;
      box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.24), inset -25px -25px 0px rgba(242, 169, 80, 1);
    }
  }
}

.titlesBox {
  padding: 3rem 0 0 8rem;
  @media (max-width: 600px) {
    padding: 3rem 0 0 2rem;
  }
  @media (max-width: 460px) {
    padding: 4rem 0 0 2rem;
  }
}

.mainTitle {
  font-weight: 700;
  font-size: 3rem;
  color: #FFFFFF;
  -webkit-text-stroke: 2px black;
  text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.97);
  @media (max-width: 460px) {
    font-size: 1.75rem;
  }
}

.mainSubtitle {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.8rem;
  -webkit-text-stroke: 2px black;
  background: -webkit-linear-gradient(#F2A950, #C24600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 2;
  filter: drop-shadow(2px 4px rgba(0,0,0,0.62));

  @media (max-width: 460px) {
    font-size: 1.5rem;
  }
}

.main {
  background: $dark;
  padding: 3rem 15rem;
  position: relative;
  z-index: 0;

  @media(max-width:1390px) {
    padding: 3rem 3rem;
  }
}

.refreshButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: $grey;
  padding: 1.375rem;
  background: $dark;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 7px rgba(242, 169, 80, 0.46);
  border-radius: 51px;
  cursor: pointer;
  outline: none;
  position: relative;

  >img {
    margin-right: .8rem;
  }

  &:hover, &:focus {
    box-shadow: inset -4px -4px 4px rgba(0,0,0, 1),  -4px -4px 6px rgba(242, 169, 80, 1);
  }
}

.statsBoxesContainer {
  margin-top: 57px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;

  @media(max-width:936px) {
    grid-template-columns: 1fr;
  }
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: $dark;
  opacity: 0;
  z-index: -10;
  transition: all 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;

  &Show {
    opacity: 1;
    transition: all 0.15s;
    z-index: 999;
  }
}

.ldsRing {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




